<!DOCTYPE html>
<html>
<head>
  <title>Sample Rails Bootstrap Application</title>
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :get %>
      <%= link_to t(".home page"), home_path%>
      <%= link_to t(".search page"), search_path%>
      <%= link_to t(".courses"), courses_path%>
      <%= link_to t(".subjects"), subjects_path%>
      <%= link_to t(".instructors"), instructors_path%>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
